@use "./mixins" as m;
@use "./vars" as v;

*, *::before, *::after {box-sizing: border-box;}

html {font-size: 62.5%;}

body {
  font-family: v.$ff-1;
  font-size: v.$rem-16;
  color: v.$fc;
  margin: 0;
  padding: 0;
  line-height: v.$rem-26;

  h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
    @include m.transition;
    cursor: pointer;

    &:hover {
      @include m.hover;
    }

  }

  ul {
      text-transform: uppercase;
      list-style: none;
  }

  button {
    border: none;
    max-width: v.$rem-228;
    width: v.$pct;
    height: v.$rem-63;
    text-transform: uppercase;
    background-color: v.$btn-c;
    font-size: v.$rem-16;
    color: v.$fc;
    font-family: v.$ff-2;
    line-height: v.$rem-26;
    letter-spacing: v.$rem-1;
    cursor: pointer;
    @include m.transition;
     &:hover {
      @include m.hover;
     }

  }

}

@media screen and (max-width: v.$vp-xl) {
  .block2-top,
  .block4 { grid-template-columns: 1fr; }

  .block2-btm {
    text-align: center;
    grid-template: 1fr;
   }
}


