@use "./mixins" as m;
@use "./vars" as v;

/* =)========= HEADER =========(= */

.header {
  // width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .block1 {
    position: relative;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__h1 {
      text-transform: uppercase;
      font-size: v.$rem-48;
      font-weight: v.$fw1-b;
      letter-spacing: v.$rem-5;
      line-height: v.$rem-26;
    }

    &__txt {
      font-size: v.$rem-22;
      letter-spacing: v.$rem-7;
      line-height: v.$rem-26;
      padding-bottom: v.$rem-24;
      text-transform: capitalize;
    }
  }

.form {
  display: flex;
  flex-wrap: wrap;
  max-width: v.$rem-653;
  width: v.$pct;
  min-height: v.$rem-63;
  &__ipt {
    width: 70%;
    height: v.$pct;
    border: none;
    &::placeholder{
      font-size: v.$rem-14;
      letter-spacing: v.$rem-2;
      text-transform: capitalize;
      text-align: center ;
      color: v.$search-c;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: v.$rem-14;
    font-weight: v.$fw2-r;
    width: 30%;
    height: v.$pct;
    border: v.$rem-2 solid v.$fc;
    text-transform: uppercase;
    gap: v.$rem-10;
    padding-left: v.$rem-20;
    i {
      font-size: v.$rem-22;
    }
}
}

.nav-scroll {
  display: flex;
  text-align: center;
  padding: v.$rem-20 0 0 0;

  &__link {
    font-family: inherit;
    font-weight: v.$fw1-l;
    font-size: v.$rem-14;
  }

  &__txt {
    margin: 0;
    padding: 0;
    letter-spacing: v.$rem-3;
  }

  i {
    margin: 0;
    padding: 0;
  }
}
}
