@use "vars" as v;
@use "mixins" as m;

/* =)========= MAIN =========(= */

.main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 100%;
  align-items: center;

  /* background containers */
  .block2-bg1,
  .block2-bg2,
  .block3-bg1,
  .block3-bg2,
  .block4-bg {
    width: 100vw;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-block: clamp(4rem, 8vw, 12rem);
  }

  /* background images */
  .block2-bg1 { background-image: url("../images/exploreBg.svg"); }
  .block2-bg2 { background-color: #333; }
  .block3-bg1 { background-image: url("../images/book1.svg"); }
  .block3-bg2 { background-image: url("../images/book2.svg"); }
  .block4-bg { background-image: url("../images/review-bg.svg"); }

  .block2-top,
  .block2-btm,
  .block3-top,
  .block3-btm,
  .block4 {
    width: min(90%, v.$vp-wide);
    margin: 0 auto;
  }
}
