@use "vars" as v;
@use "mixins" as m;

/* =)========= WRAP =========(= */

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  min-height: 100vh;

  /* header/footer backgrounds */
  .header-bg,
  .footer-bg {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

    .header-bg {
      background-image: url("../images/header.svg");
      min-height: 100dvh;
    }

    .footer-bg {
      background-color: v.$footer;
      width: 100%;
    }

    .header,
    .footer {
      width: min(90%, v.$vp-wide);
      margin: 0 auto;
    }
  }
