@use "vars" as v;
@use "mixins" as m;

/* =)========= WRAP =========(= */

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  min-height: 100vh;

  /* header/footer backgrounds */
  .header-bg,
  .footer-bg {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

    .header-bg {
      background-image: url("../images/header.svg");
      min-height: 100dvh;
    }

    .footer-bg {
      background-color: #000;
    }

    .header,
    .footer {
      width: min(90%, v.$vp-wide);
      margin: 0 auto;
    }
  }


// @media screen and (max-width: v.$vp-mid) and (orientation: portrait) {
//   .wrap {
//     width: min(v.$pct-90, v.$pw-img2);
//     min-height: 100vh;
//     min-height: 100dvh;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     margin-top: 0;
//   }
// }

// /* Phone */
// @media screen and (max-width: v.$vp-small) and (orientation: portrait) {
//   .wrap {
//     width: min(v.$pct, 32rem);
//     min-height: 100vh;
//     min-height: 100dvh;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     margin-top: 0;
//   }
// }
